// ALIGN
.u-center-text {
    text-align: center;
}

// MARGIN
.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
    margin-bottom: 4em;
}
.u-margin-bottom-big {
    margin-bottom: 8rem;
}

// PADDING
// .u-padding-top-big {
//     padding-top: 8rem;
// }
